/*
Project-specific styles. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

// Dark mode enhancements
@import 'td/color-adjustments-dark';
@import 'td/code-dark';
@import 'td/gcs-search-dark';

// Ensure the top-nav search is visible on all pages (and breakpoints)
.td-navbar__search {
	display: block !important;
}