/*
Project-specific styles. For details, see:
https://www.docsy.dev/docs/content/lookandfeel/#project-style-files
*/

// Dark mode enhancements
@import 'td/color-adjustments-dark';
@import 'td/code-dark';
@import 'td/gcs-search-dark';

// Keep navbar opaque (e.g., on homepage cover)
.navbar,
.navbar-light,
.navbar-dark {
	background-color: $primary !important;
}

// Add drop shadow to cover title
.td-cover-block h1 {
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}